.centered {
  text-align: center;
}
.nav {
  size: 20px;
}
nav.note .note,
nav.link .link,
nav.image .image {
  background-color: #aa0;
}

.header {
  background: #999;
}
.categories {
  background: #aaa;
  padding-left: 6px;
}

#note-title {
  font-style: bold;
  font-size: 1.25em;
  border-bottom: solid 1px;
}
#note-content {
  margin-left: 12px;
}
