a {
  text-decoration: None;
}
.types {
  background: #999;
}
.categories {
  background: #aaa;
}
.results {
  background: #bbb;
}

.type-select {
  margin: 5px 0;
  padding: 0;
  position: relative;
}

.type-select a {
  float: left;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin: 0;
  padding: 0 10px 0 14px;
  background: #555;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.type-select a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #555;
  border-style: solid;
  border-width: 12px 0 12px 12px;
}

.type-select a:hover {
  background: #940;
  color: #fff;
}

.type-select a:hover:after {
  border-color: transparent transparent transparent #940;
}
