<div ng-init="cats = get_categories('link')" class="categories span3">
  <h2>Categories</h2>
  <ul class="unstyled">
    <li ng-repeat="cat in categories">
      <div class="type-select">
        <a ng-click="get_results(type, cat)" id="{{cat}}">{{cat}}</a>
      </div>
    </li>
  </ul>
</div>

<div class="results span6">
  <ul class="unstyled">
    <li ng-repeat="result in results">
      <div class="results">
        <a href="{{result.content}}" target="_blank">{{result.title}}</a>
      </div>
    </li>
  </ul>
</div>
